.product-description {
    white-space: nowrap;
    /* Prevent text wrapping */
    overflow: hidden;
    /* Hide overflowing text */
    text-overflow: ellipsis;
    /* Add "..." to indicate truncated text */
}

.product-name {
    white-space: nowrap;
    /* Prevent text wrapping */
    overflow: hidden;
    /* Hide overflowing text */
    text-overflow: ellipsis;
    /* Add "..." to indicate truncated text */
}

.product-page {
    margin-top: 120px; /* Adjust this value if needed */
  }
  